@import '../../config.scss';

.container {

  &__page {
    padding-left: 250px + $gutter;
    padding-right: $gutter;
  }

  &__error {
    padding-left: 250px + $gutter;
    padding-right: $gutter;
  }
}