@import '../../config.scss';

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 2*$gutter;
  left: 0;
  background-color: $color-font;
  overflow-x: hidden;
  padding-top: $gutter;

  @media (max-width: 849px) {
    top: 4*$gutter;
  }
  
  &__item, &__create {
    text-decoration: none;
    color: $color-background;
    display: block;
    white-space: nowrap;
    overflow: hidden;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__create:first-child {
    font-style: italic;
    padding: $gutter / 2;
    padding-left: 0;
  }

  &__notebook{
    :first-child {
      padding-left: $gutter / 4;
    }
    .sidebar__item__title {
      padding-left: $gutter / 2;
    }
  }

  &__section {
    :first-child {
      padding-left: $gutter / 2;
    }
    .sidebar__item__title {
      padding-left: $gutter;
    }
  }
  
  &__page {
    :first-child {
      padding-left: $gutter * 0.75;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .sidebar__item__title {
      padding-left: $gutter*1.5;
    }
  }

  &__item:hover {
    background-color: $color-background;
    color: $color-font;
    font-weight: bold;
    cursor: pointer;
  }

  &__create *:hover {
    background-color: $color-background;
    color: $color-font;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }

  &__item__title {
    width: 100%;
    padding: $gutter / 2;
  }

  &__delete {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__delete:hover {
    cursor: pointer;
  }
  
  &__checkmark {
    width: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__checkmark:hover {
    cursor: pointer;
  }

  &__selected {
    font-weight: bold;
    border: 1px ridge $color-background;
  }

  &__selected:hover {
    font-weight: bold;
    color: $color-background;
    background-color: $color-font;
    cursor: default;
  }
}
