@import "config";

.main {
  max-width: 1500px;
  margin: 0 auto;
}

.grid {
  max-width: $brotpunktur3;
  margin: 0 auto;
}

.grid__row {
  display: flex;
  width: 100%;
  padding: $gutter;

  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $brotpunktur1) {
    padding-right: 0.5*$gutter;
    padding-left: 0.5*$gutter;
    flex-direction: row;
  }

  @media (min-width: $brotpunktur3) {
    padding-right: 0;
    padding-left: 0;
  }
}

.grid__col {
  display: flex;
  width: 100%;
  padding-bottom: 2*$gutter;
  flex-wrap: wrap;

  @media (min-width: $brotpunktur1) {
    width: 50%;
    padding-right: 0.5*$gutter;
    padding-left: 0.5*$gutter;
  }

  @media (min-width: $brotpunktur2) {
    width: 33.3%;
  }
}

.lecture {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  background-color: $grar3;
}

.lecture:hover {
  cursor: pointer;
}

.lecture__image {
  min-width: 100%;
}

.img {
  min-width: 100%;
}

/***** Byrjun á útliti takka (síun) *****/

.buttons {
  display: flex;
  padding: $gutter;

  flex-direction: row;
  justify-content: center;
}

.button {
  padding: $gutter;
  margin: $gutter;

  font-family: $leturgerdFS;
  font-size: $leturstaerd2;
  font-weight: bold;

  background-color: $grar3;

  border: unset;
  border-radius: $gutter;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button-green {
  background-color: $graenn1;
  transition: background-color $kvikun;
}

.button-grey {
  transition: background-color $kvikun;
}

.button-green:hover {
  background-color: $graenn2;
}

.button-grey:hover {
  background-color: $grar2;
}

/***** Endir á útliti takka (síun) *****/

/***** Byrjun á útliti Fyrirsagna *****/
.headline1 {
  font-family: $leturgerdFS;
  font-size: $leturstaerd4;
}

.headline2 {
  padding: $gutter*0.5;
  padding-top: 0;
  font-family: $leturgerdFS;
  font-size: $leturstaerd3;
}

.headline3 {
  padding: $gutter*0.5;
  font-family: $leturgerdFS;
  font-size: $leturstaerd1;
  text-transform: uppercase;
}

/***** Endir á útliti Fyrirsagna *****/

/***** Byrjun á útliti höfuðs *****/
.index-header {
  background-image: url("/img/header.jpg");
}

.header {
  height: $gutter*15;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.header__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: $hviturYfirMyndum;
}

.header * {
  text-align: center;
}

/***** Endir á útliti höfuðs *****/
