@import '../../config.scss';

.paging {
  padding-bottom: $gutter;
  padding-left: $gutter;
  display: flex;
  align-items: center;

  &__prev {
    margin-right: $gutter;
  }

  &__page {
    margin-right: $gutter;
  }
}