@import '../../config.scss';

.login {
  @include container;

  

  &__row {
    @include row;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  &__col {
    @include columns(12);
  }

  &__heading {
    margin-bottom: $gutter / 2;
  }

  &__form {
    margin-bottom: $gutter;
  }

  &__error {
    margin-bottom: $gutter;
    
  }

  &__input {
    margin-bottom: $gutter / 2;
  }

  &__input label {
    flex: 0 1 150px;
    font-weight: bold;
  }

  &__link {
    margin-top: $gutter / 2;
    color: $color-font;
    
    display: flex;
    justify-content: flex-end;
  }
  
  &__link:hover {
    text-decoration: underline;
  }

  .button {
    display: block;
    margin-left: auto;
  }
}
